/* Initial */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #444;
    color: white;
    padding: 1rem 2rem;
    position: relative;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

.nav {
    display: flex;
    gap: 1.5rem;
}

.nav a {
    color: white;
    text-decoration: none;
}

.menu-toggle {
    display: none;
}

/* Hamburger icon styling */
.menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}




/* Main Section */
.main {
  display: flex;
  padding: 2rem;
  gap: 2rem;
}

.content {
  flex: 7;
  background: #3300ff;
  padding: 1rem;
  color: white;
  height: 500px;
  text-align: center;
  font-weight: bold;
}

.sidebar {
  flex: 3;
  background: #ff5f5f;
  padding: 1rem;
  color: white;
  height: 500px;
  text-align: center;
  font-weight: bold;
}

/* Footer */
.footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: white;
  margin-top: auto;
}