/* Responsive Design */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav {
        position: absolute;
        top: 100%;
        right: 0;
        background: #444;
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
        padding: 1rem;
    }

    /* Show nav when toggle is checked */
    .menu-toggle:checked+.menu-icon+.nav {
        display: flex;
    }


    /* Main */
    .main {
        flex-direction: column;
    }
    .content{
        height: 380px;
    }
    .sidebar{
        height: 380px;
    }
}